<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="ZenStudy"
        android:theme="@style/Theme.ZenStudy">

        <activity
            android:name=".RegisterActivity"
            android:exported="false"/>

        <activity
            android:name=".LoginActivity"
            android:exported="false"/>

        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.ZenStudy.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Get Started Screen -->
        <activity
            android:name=".GetStartedActivity"
            android:exported="false"/>

        <!-- Main Screen -->
        <activity
            android:name=".MainActivity"
            android:exported="false"/>

        <activity
            android:name=".KatalogBelajarActivity"
            android:exported="false"/>

        <activity
            android:name=".ProfilActivity"
            android:exported="false"/>

        <activity
            android:name=".DetailMateriActivity"
            android:exported="false"/>

        <activity
            android:name=".BelajarKontenActivity"
            android:exported="false"/>

        <activity
            android:name=".QuizTpsActivity"
            android:exported="false"/>

        <activity
            android:name=".QuizResultActivity"
            android:exported="false"/>

        <activity
            android:name=".TimerActivity"
            android:exported="false"
            android:theme="@style/Theme.ZenStudy.NoActionBar"/>

    </application>

</manifest>